<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eNetBanking_V1">

    <listeners>
        <listener class-name="com.intetbanking.utilities.Reporting"/>
    </listeners>

<test name="ebanking Apps Test">

 <parameter name="browser" value="chrome"></parameter>
    <classes>
        <class name="com.intetbanking.testCases.TC_LoginTest_001"></class>
    </classes>

</test>

</suite>